@font-face {
  font-family: "PrimaryFont";
  src: url("@/assets/fonts/Ahroni.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ErasDemi";
  src: url("@/assets/fonts/erasdemiitc.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PrimaryFont", "Montserrat", Arial, sans-serif;
}
